<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    UygulamaA'daki ile birebir ayni. Her solution kendi
    nuget.config'ini tasir; boylece solution'lar birbirinden
    tamamen bagimsiz kalir.
  -->

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- GitHub testi icin gecici kapatildi. -->
    <!-- <add key="LocalFeed" value="../LocalFeed" /> -->

    <!-- GitHub Packages'a gectiginde yorumu kaldir ve KULLANICI_ADIN'i degistir.
         Token bu dosyaya degil, kullanici seviyesindeki NuGet.Config'e gider. -->
    <add key="github" value="https://nuget.pkg.github.com/erentetk/index.json" />
  </packageSources>

</configuration>
